html {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    margin-top: 16rem;
}

.first-part {
    color: #F78501;
    font-size: 3.6rem;
    letter-spacing: .8rem;
    font-family: 'Montserrat', sans-serif;
}

#clock {
    color: #F78501;
    font-size: 4rem;
    letter-spacing: .8rem;
    font-family: 'Montserrat', sans-serif;
}

.second-part {
    color: #F78501;
    font-size: 3rem;
    letter-spacing: .8rem;
    font-family: 'Montserrat', sans-serif;
}



